* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
  }
  
  .function {
    height: 100%;
    display: flex;
    align-items: center;
  }
  